<h1>Listing datasources</h1>

<table>
  <tr>
    <th>Uri</th>
    <th>Source type</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datasources.each do |datasource| %>
  <tr>
    <td><%= datasource.uri %></td>
    <td><%= datasource.source_type %></td>
    <td><%= datasource.user_id %></td>
    <td><%= link_to 'Show', datasource %></td>
    <td><%= link_to 'Edit', edit_datasource_path(datasource) %></td>
    <td><%= link_to 'Destroy', datasource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datasource', new_datasource_path %>
