<p id="notice"><%= notice %></p>

<p>
  <b>Uri:</b>
  <%= @datasource.uri %>
</p>

<p>
  <b>Source type:</b>
  <%= @datasource.source_type %>
</p>

<p>
  <b>User:</b>
  <%= @datasource.user_id %>
</p>


<%= link_to 'Edit', edit_datasource_path(@datasource) %> |
<%= link_to 'Back', datasources_path %>
